* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */



body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	background: lightgrey;
	transition: background 500ms ease;
}

p, li {
	font-size:  18px;
	line-height: 28px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* link */

a {
	background: white;
	color: black;
	padding: 0px 8px;
	border-radius: 16px;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	background: black;
	color: white;
}


/* uncomment the code below to set the grid */

/* this is a comment */

#language-toggle {
	position: fixed;
	top:  10px;
	right:  10px;
}

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#right-column {
	background: yellow;
}

#right-column img {
	width: auto;
}

/* hide pokemon */

#raichu, #pikachu, #pokeball {
	display: none;
}


@media only screen and (max-width: 896px) {

	body {
		overflow: scroll;
		background: yellow;
	}

	#grid {
		display: grid;
		grid-template-columns: 1fr;
	}

	.scroll {
		padding: 10px;
		overflow: auto;
		height: auto;
	}


	#right-column {
		background: black;
	}


	#pikachu {
		display: block;
	}

	#raichu, #pichu, #pokeball {
		display: none;
	}


}

@media only screen and (max-width: 414px) {
	body {
		background: orange;
	}

	.scroll {
		padding: 0px;
	}

	#right-column {
		background: red;
	}

	#raichu {
		display: block;
	}

	#pikachu, #pichu, #pokeball {
		display: none;
	}

}

@media only print {
	body {
		background: white;
		text-align: center;
	}

	#grid {
		display: grid;
		grid-template-columns: 1fr;
	}

	.scroll {
		padding: 10px;
		overflow: auto;
		height: auto;
	}

	ul, li {
		list-style-position: inside;
	}

	#right-column img{
		width: 5cm;
	}

	#pokeball {
		display: block;
		margin: auto;
		width: 1cm;
	}

	#raichu, #pikachu, #pichu {
		display: none;
	}

}